{% extends "blog/base.html" %}

{% block title %}blog{% endblock %}

{% block homelink %}#{% endblock %}
{% block homelinktwo %}#{% endblock %}

{% block content %}

{% if posts %}
	{% for post in posts %}
		<div class="title">
			<h1><a href="{% url 'blog:detail' post.id %}">{{ post.post_title }}</a></h1>
		</div>

		<article>
			<section>
				{% ifequal post.edit_type 'H' %}
					{{ post.post_text|safe }}
				{% else %}
					{{ post.post_text }}
				{% endifequal %}
			</section>
			<hr />
			<sub>{{ post.pub_date }} | {{ post.author }}</sub>
		</article>
	{% endfor %}
{% else %}
	<div class="title"><h1>There are no posts on this blog yet.</h1></div>
{% endif %}
{% endblock %}

{% block footer %}
	<div class="pagination">
		<span class="step-links">
			{% if posts.has_previous %}
				<a href="?page={{ posts.previous_page_number }}">previous</a>
			{% endif %}

			<span class="current">
				Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
			</span>

			{% if posts.has_next %}
				<a href="?page={{ posts.next_page_number }}">next</a>
			{% endif %}
		</span>
	</div>
{% endblock %}